cpprb==10.1.1
gym==0.18.3
keras==2.10.0
matplotlib==3.4.3
numpy==1.19.5
seaborn==0.12.2
smarts==0.4.18
tensorflow==2.4.0
tensorflow-addons==0.11.2
tensorflow-datasets==4.5.2
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.0
tensorflow-graphics==2021.12.3
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.7.0
tensorflow-probability==0.12.2
tf2rl==1.1.5
tqdm==4.64.1
transformers==4.5.1
wandb==0.9.1